body {
	color: #495057;
	font-family: 'Lora', serif;
	font-size: 14px;
	background-color: #F8F9FA;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

[class*="__container"]{
	max-width: 1330px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

main {
	flex: 1 1 auto;
}

.category {
	background: rgba(255, 255, 255, 0.15);
	border-radius: 8px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	line-height: 120%;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s;
}

.category:hover {
	background: rgba(255, 255, 255, 0.5);
}